<header class="bg-transparent z-40 py-4 px-6 flex justify-center items-center mb-20">
    <div class="flex items-center gap-4 pr-60">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="logo-aigua.png" alt="Logo" class="h-10"></a>
    </div>
    <nav>
      <ul class="flex gap-6 items-center">
        <li><a routerLink="/inversio" fragment="" class="relative group block px-4 text-[#110E2F] font-semibold">Inversió
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-80"></span>
        </a></li>
        <li><a routerLink="/potabilitat" fragment="" class="relative group block px-4 text-[#110E2F] font-semibold">Potabilitat
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-80"></span>
        </a></li>
        <li><a routerLink="/despeses" fragment="" class="relative group block px-4 text-[#110E2F] font-semibold">Despesa
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-80"></span>
        </a></li>
        <li><a routerLink="/contacte" fragment="" class="relative group text-[#110E2F] font-semibold">Contacte    
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-90"></span>
        </a></li>
      </ul>
    </nav>
  </header>
  