<header class="bg-[#73CCD4] shadow-md py-4 px-6 flex justify-center items-center">
    <div class="flex items-center gap-4 pr-60">
      <img src="logo-aigua.png" alt="Logo" class="h-10">
    </div>
    <nav>
      <ul class="flex gap-6 items-center">
        <li><a href="#crecimiento" class="relative group block px-4 text-[#110E2F] font-semibold">Creixement
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-80"></span>
        </a></li>
        <li><a href="#gasto" class="relative group block px-4 text-[#110E2F] font-semibold">Despesa
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-80"></span>
        </a></li>
        <li><a href="#comparacion" class="relative group block px-4 text-[#110E2F] font-semibold">Comparació
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-80"></span>
        </a></li>
        <li><a href="#inversion" class="relative group block px-4 text-[#110E2F] font-semibold">Inversió
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-80"></span>
        </a></li>
        <li><a href="#contacto" class="relative group text-[#110E2F] font-bold text-lg">Contacte    
          <span class="absolute left-0 -bottom-1 block h-0.5 w-full bg-[#110E2F] scale-x-0 transition-transform duration-300 group-hover:scale-x-90"></span>
        </a></li>
      </ul>
    </nav>
  </header>
  