<div class="overflow-x-hidden bg-[#73CCD4]">
    <section class="relative py-12 sm:py-16 lg:pt-20 xl:pb-0 flex items-center justify-center mb-30">
        <div class="relative px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
            <div class="max-w-3xl mx-auto">
                <p class="inline-flex px-4 py-2 text-base bg-[#110E2F] text-[#FFFAEB] rounded-full font-pj">
                    T'informem sobre l'escassetat d'aigua a l'Àfrica
                </p>
                <h1 class="mt-5 text-4xl font-bold leading-tight text-[#110E2F] sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
                    Crisi d'Aigua a Àfrica: Urgència i Acció per un Futur Sostenible
                </h1>
                <p class="max-w-md mt-12 text-base leading-7 text-gray-800 italic font-semibold">
                    "L’aigua és vida, i l’accés a l’aigua neta és un dret humà fonamental." — Kofi Annan
                </p>

                <div class="relative inline-flex mt-10 group">
                    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"></div>

                    <a href="#" title="" class="relative inline-flex items-center justify-center px-8 py-4 text-lg font-bold text-[#FFFAEB] transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" role="button">
                        Aprèn més sobre el tema
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-16 md:mt-20 max-w-xl mx-auto flex items-center mr-50">
            <img class="object-cover object-top w-full h-auto mx-auto scale-150 2xl:max-w-screen-2xl xl:scale-100" src="hero-banner-image.png" alt="" />
        </div>
    </section>

</div>
